html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    background-color: rgb(53, 11, 170);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #ffffff;
    padding: 10px 20px 0px;
}
.header {
    background-color: #056c6c;
    min-height: 150px;
    align-content: center;
    padding-left: 15px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #056c6c;
    color: white;
    min-height: 150px;
    align-content: center;
    padding-left: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
}

thead {
    background-color: #056c6c;
    color: white;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
